/* stylesheets/styles.css */
.recipes-table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
  }
  
  .recipes-table th, .recipesTable td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
  }
  
  .recipesTable th {
    background-color: #f2f2f2;
  }

  #recipeForm {
    text-align: center;
    margin-top: 50px;
  }

  #recipeForm label {
    display: block;
    margin-top: 10px;
  }

  #recipeForm input {
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  #addRecipe {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
  }
  